/* ======= ESTILO GERAL ======= */
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
}

/* ======= NAVBAR ======= */
.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
}

/* ======= SEÇÃO PRINCIPAL ======= */
#inicio {
  height: calc(100vh - 70px);
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* ======= FUNDO ======= */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.personagens {
  max-width: 800px;
  width: 90%;
  filter: brightness(0.8);
}

/* ======= BOTÃO CENTRAL ======= */
/* POSICIONAR O BOTÃO MAIS À DIREITA E EMBAIXO */
.cta {
  position: absolute;
  bottom: 200px; /* distância da parte de baixo */
  right: 120px; /* distância da direita */
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}


#btnCoragem {
  background-color: black;
  color: white;
  border: 2px solid #444;
  padding: 15px 25px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#btnCoragem:hover {
  background-color: #A01919 ;
  border-color: #A01919;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #A01919;
}

/* ======= ANIMAÇÃO OPCIONAL ======= */
@keyframes pulsar {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px#A01919;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px #A01919;
  }
}

#btnCoragem:hover {
  animation: pulsar 1s infinite;
}

/* ======= RESPONSIVIDADE ======= */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 10px;
  }

  .personagens {
    width: 100%;
    opacity: 0.25;
  }

  #btnCoragem {
    font-size: 14px;
    padding: 12px 18px;
  }
}
