section {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .logo {
  height: 40px;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}



#avatar {
  border-radius: 50%;
  margin: 10px 0;
}

#itens {
  color: #A01919;
  font-weight: bold;
}
