section {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* ======= ESTILO GERAL ======= */
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: rgb(3, 3, 3);
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
}

/* ======= NAVBAR ======= */
.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#roletaSecao {
  border-top: 2px dashed #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#premio {
  font-weight: bold;
  color: #8e44ad;
  margin-top: 10px;
}
